.card-title {
    text-transform: capitalize;
}

#statelist,
#conditions {
    width: 100%;
    overflow-y: auto;
    height: 500px;

}

/*statelist*/
#statelist .item {
    display: block;
    background: #f1f1f1;
    padding: 8px;
}

#statelist .item:hover {
    background-color: #555;
    color: white;
}

#statelist .item.actived {
    background-color: #4CAF50;
    color: white;
}

/* #conditions */
#conditions .item {
    display: block;
    background: #f1f1f1;
    padding: 8px;
}

#conditions .item:hover {
    background-color: #555;
    color: white;
}

#conditions .item.actived {
    background-color: #4CAF50;
    color: #fff;
}

#conditions.no-record {
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}